version: '3.8'

services:
  backend:
    build:
      context: ./apps/api
      dockerfile: Dockerfile
    ports:
      - '80:80'
    env-file:
      - ./apps/api/.env.production
    restart: always

  frontend:
    build:
      context: ./apps/web
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    env-file:
      - ./apps/web/.env.production
    depends_on:
      - backend
    restart: always